<!DOCTYPE html>
<html >
<head >
  <meta content = 'text/html; charset=UTF-8' http-equiv = 'Content-Type' />
</head >
<body >

<p>This is a test message sending a message to the admin.</p>
<p>Had it been real the below message would have been sent to the following email addresses</p>
<ul>
  <li id="candidate-email">Candidate email: %candidate_email%</li>
  <li id="parent-email-1">Parent email 1: %parent_email_1%</li>
  <li id="parent-email-2">Parent email 2: %parent_email_2%</li>
</ul>

<p id="subject">The subject: %subject_text% </p>

<p>The Message</p>

<%= render partial: 'shared/adhoc_body',
           :locals => {
               # mailing to single candidate is happening if true
               # editing a single candidate message if false
               render_mail_text: true
           } %>
</body >
</html >