<div class="container">
  <div class="row">
    <h3><%= t('label.admin.admins') %></h3>
    <div class="column">
      <table class="table" id="admins_table">
        <tbody>
        <% @admins.each do |admin| %>
              <%= render admin %>
        <% end %>
        </tbody>
      </table>
      <%= link_to 'create new admin', new_admin_registration_path, id: "create-admin" %>
    </div>
  </div>
</div>
