<div class="container">
  <div class="row">
    <h3><%= t('label.admin.admins') %>></h3>
    <div class="column">
      <table class="table" id="admins_table">
        <tbody>
        <% @admins.each do |admin| %>
            <tr id="admin<%= admin.id %>">
              <%= render admin %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
