<div class="container">
  <div class="row">
    <h3><%= t('views.admins.heading.index') %></h3>
    <div class="column">
      <table class="table" id="admins_table">
        <tbody>
        <% @admins.each do |admin| %>
              <%= render admin %>
        <% end %>
        </tbody>
      </table>
      <%= link_to t('views.admins.label.create'), new_admin_path, id: "create-admin" %>
    </div>
  </div>
</div>
