<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <p>Contact Information:</p>
        <p><a href=<%= t('views.top_bar.contact_admin_mail') %> target="_top"><%= t('views.top_bar.contact_admin') %></a></p>
        <% if candidate_signed_in? || admin_signed_in? %>
            <p>Phone: 919-249-5629</p>
        <% end %>
      </div>
    </div>
  </div>
</div>