<p id="admin-info">Vicki Kristoff<br/>
  <%= mail_to I18n.t('views.top_bar.contact_admin_mail_text'), I18n.t('views.top_bar.contact_admin_mail_text'), subject: local_assigns[:subject], id: 'admin-email' %>
  <br/>
  <%= I18n.t('views.top_bar.contact_admin_phone') %></p>