<p id="admin-info"><%=@admin.contact_name%><br/>
  <%= mail_to I18n.t('views.top_bar.contact_admin_mail_text', email: @admin.email), I18n.t('views.top_bar.contact_admin_mail_text', email: @admin.email), subject: local_assigns[:subject], id: 'admin-email' %>
  <br/>
  <%= @admin.contact_phone %></p>
