<p id="first_name"><%= @candidate_mailer_text.candidate.candidate_sheet.first_name %>,</p>

<% body_mail_part = @candidate_mailer_text.body_text %>

<% if body_mail_part.show %>
  <p id="body_text" style="white-space: pre;"><%= body_mail_part.text %></p>
<% end %>