<h2>Status <%= "#{resource.account_name}" %></h2>

<%= devise_error_messages! %>

<%= form_for(resource, as: resource_name, url: create_candidate_path(), html: {role: 'form'}) do |f| %>
    <%= render partial: 'candidates/shared/home.html.erb', :locals => {f: f, by_candidate: false} %>
<% end %>
