<% buttons = [
    [AdminsController::DELETE, 'delete', I18n.t('views.common.delete')],
    [AdminsController::EMAIL, 'email', I18n.t('views.common.email')],
    [AdminsController::RESET_PASSWORD, 'reset_password', I18n.t('views.common.reset_password')],
    [AdminsController::INITIAL_EMAIL, 'initial_email', I18n.t('views.common.initial_email')],
    [AdminsController::GENERATE_PDF, 'generate_pdf', I18n.t('views.common.generate_pdf')],
    [AdminsController::CONFIRM_ACCOUNT, 'confirm_account', I18n.t('views.common.confirm_account')],
    [AdminsController::UNCONFIRM_ACCOUNT, 'unconfirm_account', I18n.t('views.common.unconfirm_account')]
]

%>

<%= form_tag mass_edit_candidates_update_path(), method: :post do %>
  <div class="btn-group" role="group" aria-label="...">
    <% buttons.each do |button_info| %>
      <% const = button_info[0] %>
      <% id_suffix = button_info[1] %>
      <% text = button_info[2] %>
      <%= button_tag(type: 'submit', id: "top-update-#{id_suffix}", value: const) do
        content_tag(:italic, text)
      end %>
    <% end %>

  </div>

  <%= render 'shared/sorting_candidate_selection',
             candidate_info: @candidate_info,
             confirmation_event: nil,
             other_columns: {
                 headers: [
                     t('views.nav.deferred'),
                     t('views.nav.edit'),
                     t('views.nav.note')
                 ],
                 rows: [
                     lambda do |candidate_info|
                       link_to candidate_info.deferred.to_s, deferred_path(candidate_info.id)
                     end,
                     lambda { |candidate_info| link_to t('views.nav.edit'), event_candidate_path(candidate_info.id) },
                     lambda { |candidate_info| link_to t('views.nav.note'), candidate_note_path(candidate_info.id) }
                 ]
             },
             route: :candidates,
             selected_candidate_ids: @selected_candidate_ids
  %>
  <div class="btn-group" role="group" aria-label="...">
    <% buttons.each do |button_info| %>
      <% const = button_info[0] %>
      <% id_suffix = button_info[1] %>
      <% text = button_info[2] %>
      <%= button_tag(type: 'submit', id: "bottom-update-#{id_suffix}", value: const) do
        content_tag(:italic, text)
      end %>
    <% end %>
  </div>

<% end %>
