<h3>Candidate</h3>
<p>Id: <%= @candidate.candidate_id if @candidate.candidate_id %></p>
<p>Parent Email: <%= @candidate.parent_email_1 if @candidate.parent_email_1 %></p>
<p>First Name: <%= @candidate.first_name if @candidate.first_name %></p>
