<% if @errors === 'noerrors' %>

    <p>Congratulations on confirming your account: <%= @candidate.account_name %></p>

    <p>The next step is to change your password. You should have gotten another e-mail to do this.</p>

<% else %>

    <p><%= @errors %></p>

<% end %>