
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <p>Welcome to St. Mary Magdalene's confirmation data/forms site</p>
        <p>Please sign in via the <b>Sign in</b> link above</p>
      </div>
    </div>
  </div>
</div>