<div id="wrapper">
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <%= render page_content,
             candidate: (candidate ? candidate : nil),
             resource_errors: (resource_errors ? resource_errors : nil)
  %>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
