

<% if event_association && event_association.errors.any? %>
    <div id="error_explanation">
      <% err_count = event_association.errors.count %>
        <h2>
          <%= t('messages.error.missing_attribute') if err_count == 1 %>
          <%= t('messages.error.missing_attributes', err_count: err_count) if err_count > 1 %>
        </h2>
      <ul>
        <% event_association.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
