/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-tablesorter/theme.blue
 *= require_tree .
 *= require_self
 */

fieldset {
  padding-bottom: 10px;
  background-color: #EAE2E2;
  margin-top: 10px;
}

legend {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
  background-color: #eee;
}

.fieldset-div {
  padding-left: 10px;
}

label {
}

input[type=email] {
  width: 95%;
}

input[type=text] {
  width: 95%;
}

textarea {
  width: 95%;
}

.actions {
  padding-top: 10px;
}

#left-col {
  float: left;
  width: 50%;
}

#right-col {
  float: right;
  width: 50%;
}

#insturction-toggle {
  float: right;
}

.menu-toggle {
  margin-left: -40px;
  margin-top: -10px;
}

.field_with_errors input {
  border-color: #ff0000;
  padding-bottom: 20px;
}

.field_with_errors {
  padding-bottom: 20px;
}

.field_with_errors{
  display: inline;
}


.field {
  padding-bottom: 20px;
}

.field-inst {
  padding-bottom: 5px;
}

label[for=total_selected] {
  clear: both;
  float: left;
  margin-right: 15px;
}

input[id=total_selected] {
  float: left;
  background: transparent;
  width: 10%;
}

.select_column_header {
  width: 20px;
}

.edit_column_header {
  width: 40px;
}

#candidate-sidebar {
  height: 450px;
}