<p id="welcome">Hello <%= @resource.account_name %>!</p>

<p>This email is from the StMM website for Confirmation Candidates. Below is a link that can be used to setup and/or
  change your password.
  Once you enter the new password you will be logged into the website. Once you log out, you will need your username and
  password to log in.</p>

<%= render partial: 'shared/mailer/basic_candidate_info',
           locals: {
               candidate: @resource
           } %>

<p><%= link_to 'Click here to Setup or Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and enter a new one.</p>


<p>Please email or call me if you have any questions.</p>

<%= render partial: 'shared/mailer/basic_admin_info',
           locals: {
               subject: 'Reset password instructions'
           } %>
