<h2><%= t('views.candidates.edit_candidate') %></h2>

<%= form_for(current_candidate, as: :candidate, url: update_candidate_registration_path(current_candidate), html: {method: :post}) do |f| %>

        <%= render 'candidates/shared/edit_and_new_candidate', f: f, by_candidate: true, is_new: false %>

<% end %>
