<h2><%= t('views.common.status') %> <%= "#{current_candidate.account_name}" %></h2>

<%= render partial: 'candidates/shared/event.html.erb', :locals => {candidate: current_candidate, by_candidate: true} %>
